<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.thesis.vglibvol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="My Game Library"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        >


        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SearchResults"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".SearchResultsDetails"
            android:parentActivityName=".SearchResults"/>

        <activity android:name=".CollectionActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan"

            />

        <activity android:name=".WishlistActivity"
            android:parentActivityName=".WishlistActivity"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name="StatisticsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".CollectionGameDetails"
            android:parentActivityName=".CollectionActivity"/>

        <activity android:name=".WishlistGameDetails"
            android:parentActivityName=".WishlistActivity"/>



        <meta-data android:name="AA_MODELS" android:value="net.thesis.vglibvol.SgameViewModel"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>